{% extends 'base.html.twig' %}

{% block title %}Ajout de personne{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Date de naissance</th>
            </tr>
        </thead>
        <tbody>
            {% for personne in personnes %}
                <tr>
                    <td>{{ personne.nom }}</td>
                    <td>{{ personne.prenom }}</td>
                    <td>{{ personne.dateNaissance|date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/ajout-personne">Ajouter une personne</a>
{% endblock %}